@import "./variables";

.trusted-section {
  padding-top: 40px;
  h4 {
    font-size: 16px;
    color: $headings;
    text-align: center;
  }
  .company-list {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: wrap;
      li {
        padding: 20px;
        img {
          max-width: 155px;
          width: 100%;
        }
      }
    }
  }
}
