@import "./variables";

.design-content {
  align-items: center;
  padding: 110px 0;
  img {
    padding-right: 110px;
  }
  .design-text {
    max-width: 420px;
    width: 100%;
    h1 {
      color: $headings;
      font-size: 36px;
      padding-bottom: 30px;
    }
    p {
      color: $classic-p;
      font-size: 16px;
      padding-bottom: 40px;
    }
    button {
      @include button;
    }
  }
}
