@import "./variables";

.faq-details {
  max-width: 640px;
  width: 100%;
  h1 {
    font-size: 36px;
    color: $headings;
    padding: 20px 0;
    text-align: center;
  }
  p {
    text-align: center;
    padding-bottom: 20px;
  }
}
