@import "./variables";

.jackpot {
  padding-top: 100px;
  .jackpot-content {
    align-items: center;
    justify-content: space-between;
    .jackpot-heading {
      max-width: 450px;
      width: 100%;
      h1 {
        color: $logo-heading;
        font-size: 40px;
      }
    }
    .jackpot-text {
      max-width: 420px;
      width: 100%;
      p {
        color: $classic-p;
        font-size: 16px;
      }
    }
  }
  .jackpot-list {
    margin-top: 100px;
    justify-content: space-between;
    .jackpot-info {
      max-width: 260px;
      width: 100%;
      h2 {
        padding-top: 20px;
      }
      p {
        padding: 20px 0;
        color: $classic-p;
      }
      .icon-background {
        .svg-background {
          position: relative;
          width: 88px;
          height: 88px;
          border-radius: 50%;
          .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-49%, -49%);
          }
        }
        .red-bg {
          background-color: #ffecef;
        }
        .blue-bg {
          background-color: #f4f4ff;
        }
        .green-bg {
          background-color: #e4ffee;
        }
      }
      .icon-padding {
        padding-right: 30px;
      }
      .red {
        color: #f55767;
      }
      .blue {
        color: #2563ff;
      }
      .green {
        color: #40975f;
      }
    }
  }
}
@media (max-width: 960px) {
  .jackpot {
    .jackpot-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .jackpot-content {
      align-items: center;
      flex-direction: column;
      .jackpot-heading {
        padding: 20px 0;
      }
    }
  }
}
