@import "./variables";
.reasons {
  .ultimate-feature {
    max-width: 360px;
    width: 100%;
    h1 {
      color: $headings;
      font-size: 36px;
    }
    p {
      color: $classic-p;
      font-size: 16px;
    }
  }
  .relative {
    .mobile-form {
      img {
        transform: rotateZ(-15deg);
      }
    }
    .mobile-form-2 {
      position: absolute;
      top: 20px;
      left: 150px;
    }
  }
  .d-flex {
    button {
      @include button;
    }
  }
}
.reason {
  max-width: 640px;
  width: 100%;
  h1 {
    color: $headings;
    font-size: 36px;
    padding: 20px 60px;
  }
  p {
    color: $classic-p;
    font-size: 16px;
    padding: 20px;
  }
}
